@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  #logo {
    width: 45%;
    height: 35px;
    padding-left: 20px;
    font-family: "Alata", sans-serif;
  }

  .content {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #top {
    padding-top: 40px;
    width: 100%;
    background: url(../images/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
  }
  /*menu*/
  /* Style the navigation menu */

  #top.topmenu {
    background: black;
  }
  #nav {
    height: 35px;
    width: 50%;
    padding: 0;
    margin: 0 auto;
  }
  #nav li {
    float: right;
    list-style-type: none;
    padding: 15px 0;
  }
  #nav li a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    line-height: 25px;
    font-weight: 100;
    text-transform: uppercase;
  }
  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* transition: 0.2s;*/
    left: 19px;
    top: 224px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    visibility: visible;
    overflow-y: auto;
    width: 90%;
    height: 100vh;
    background: black;
  }

  #btn-mobile {
    display: flex;
    justify-content: flex-end;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    background: transparent;
    margin-top: 15px;
    padding-right: 20px;
  }
  #hamburger {
    border-top: 2px solid white;
    width: 20px;
    z-index: 9;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
    color: white;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  /*end menu*/
  .banner {
    margin: 0;
    width: 100%;
  }

  .banner__item {
    margin-top: 160px;
    width: 60%;
    border: 1px solid #fff;
    font-weight: 100;
    padding: 40px;
    color: #fff;
  }

  #leader {
    margin-top: 90px;
  }
  #leader .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured {
    text-align: center;
  }
  .featured img {
    margin: 0 auto;
    width: 90%;
  }

  .content {
    background-color: white;
    padding: 30px 20px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .content h1 {
    padding-bottom: 20px;
  }

  #creations .container {
    width: 90%;
  }

  .creations__top {
    margin-bottom: 20px;
    margin-top: 90px;
    justify-content: center;
  }
  .btn {
    display: none;
  }
  .btn-see-mob {
    padding: 5px;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    display: block;
  }

  #list__creations--first,
  #list__creations--second {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin: 0 auto;
  }

  #list__creations--first h2 {
    color: white;
    font-size: 24px;
    padding: 50px 120px 20px 20px;
    text-align: left;
  }
  #list__creations--second h2 {
    color: white;
    font-size: 24px;
    padding: 50px 100px 20px 20px;
    text-align: left;
  }

  .list__creations--item1 {
    background: url(../images/mobile/image-deep-earth.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .list__creations--item2 {
    background: url(../images/mobile/image-night-arcade.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .list__creations--item3 {
    background: url(../images/mobile/image-soccer-team.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .list__creations--item4 {
    background: url(../images/mobile/image-grid.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .list__creations--item5 {
    background: url(../images/mobile/image-from-above.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .list__creations--item6 {
    background: url(../images/mobile/image-pocket-borealis.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .list__creations--item7 {
    background: url(../images/mobile/image-curiosity.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .list__creations--item8 {
    background: url(../images/mobile/image-fisheye.jpg) no-repeat;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  #footer {
    margin-top: 100px;
  }
  #logo__footer {
    padding: 30px 0;
    margin: 0 auto;
  }
  #footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #column__right {
    width: 80%;
    margin: 0 auto;
  }
  #column__left {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  #footer__menu {
    width: 200px;
    margin: 0 auto;
  }
  #sociais {
    display: flex;
    justify-content: center;
  }
  #sociais ul {
    margin-top: 60px;
  }
  #sociais li {
    margin-right: 15px;
    cursor: pointer;
    float: right;
  }

  #footer__menu ul {
    display: block;
  }
  #footer__menu li {
    float: none;
    margin-bottom: 15px;
  }

  #copy {
    text-align: center;
  }
}
